*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    list-style: none; 
}
.btn_purple{
    color: black;
    background-color: rgb(235, 214, 255);
}

footer {
    background-color: #fde4e3;
}

.alert_purple{
    color: black;
    background-color: rgb(235, 214, 255);
}

.card-header{
    font-size: 20px;
}

@media (min-width: 1210px) {
    .imagenProducto {
    margin: 5px;
    width: 230px;
    height: 200px;
    border-radius: 5px;
}

.botonAgregar {
    width: 180px;
    height: 30px;
    color: black;
    background-color: rgb(235, 214, 255);
    border-radius: 5px;
    margin: 10px;
    border: #fde4e3;
}
}

@media (max-width: 1210px) {
    .imagenProducto {
    margin: 5px;
    width: 100px;
    height: 80px;
    border-radius: 5px;
}

.botonAgregar {
    width: 90px;
    height: 50px;
    color: black;
    background-color: rgb(235, 214, 255);
    border-radius: 5px;
    margin: 10px;
    border: #fde4e3;
}
}